@import './_colors';

.contact-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    //position: absolute;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    padding: 1em;
    gap: 1em;
    width: 100%;

    a {
        width: 100%;
    }

    .btn--icon {
        float: left;
        padding: .8em;
        margin: 0;
        font-size: 1em;
        border-radius: .5em;
        width: 100%;
    }
}