@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Noto+Sans&family=Rubik+Beastly&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: url(../public/sexy-backround.svg) no-repeat center center fixed; 
-webkit-background-size: cover;-moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: 'Noto Sans', sans-serif;
}

#__next {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


input {
  padding: .8em; 
  border: none;
  background-color: transparent;
  outline: none;
  color: #ddcaca;
  font-size: 0.8em;

  &::placeholder {
    color: #ddcaca;
    border-bottom: 1px solid #ddcaca;
  }

  /* none : no line is drawn, and any existing decoration is removed.
  underline : draws a 1px line across the text at its baseline.
  line-through : draws a 1px line across the text at its “middle” point.
  overline : draws a 1px line across the text, directly above its “top” point. 
  */
}

.signinbox-middle {
  width: 70%;
  min-height: 50%;
  margin: auto;
  background:#282828;
  border-radius: 1em;
  color: #ddcaca;
  text-align: center;
  padding: 1em;
  font-size: 1.2em;
  display: grid;
  place-items: center;

  input {
    width: 100%;
    font-size: 1em;
  }
}

.signin-btn {
  background-color: transparent;
  border-radius: 2px;
  border-color: #ddcaca;
  width: 70%;
  padding: 0.5em;
  cursor: pointer;
  color: #ddcaca;
  font-size: 1em;
  

}

@media only screen and (min-width: 1025px) {
  .signinbox-middle {
    width: 25%;
    height: 50%;
    padding: 1em;
    font-size: 1.5em;   
  }
}

/* */